
<h1 class='five columns'> Andrew Madden</h1>
<h2 class='five columns'> @ajm_dev </h2>
<h2 class='seven columns'> amadden80@gmail.com </h2>

<div class='row'></div>

<!-- 
<div class='one-third column'> Andrew Madden</div>
<div class='one-third column'> @ajm_dev </div>
<div class='one-third column'> amadden80@gmail.com </div>
 -->