<!-- <div class='two columns'>Goldilocks said "This Column is toooo small.  I can't fit in here"</div>
<div class='six columns'>Goldilocks said "Wow! This Column is tooo big.  Too much space here for me!"</div>
<div class='four columns'>Goldilocks said "Yay!!  This Column is jusssst right!"</div> -->


<div class='row'></div>


<h1 class='four offset-by-four columns'> Andrew </h1>
<h1 class='four columns'> Madden </h1>


<div class='row'></div>

<a href="/contact">
	<img class='offset-by-four eight columns' src='/face.png' />
</a>

<div class='row'></div>


<h2 class='offset-by-three three columns'> Ruby </h2>
<h2 class='three columns'> Sinatra </h2>
<h2 class='three columns'> HTML </h2>
<h2 class='three columns'> CSS </h2>

